/*
 * Copyright 2019 Pedro Belin Castellucci
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */


.container-fluid {
    background-image: url("../img/background.svg");
    background-repeat: repeat-y;
    background-size: 100%;
}

